.fonts {
  font-family: 'Blinker', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Inter', sans-serif;
}

.roboto-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* ------------------------------------------------- */

.blinker-thin {
  font-family: 'Blinker', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.blinker-extralight {
  font-family: 'Blinker', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.blinker-light {
  font-family: 'Blinker', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.blinker-regular {
  font-family: 'Blinker', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.blinker-semibold {
  font-family: 'Blinker', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.blinker-bold {
  font-family: 'Blinker', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.blinker-extrabold {
  font-family: 'Blinker', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.blinker-black {
  font-family: 'Blinker', sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* ------------------------------------------------- */
