$white: white;
$black: #191919;
$blue: #0654ba;
$blue-400: #3665f3;
$orange-700: #ee6e12;
$orange-600: #df7920;
$orange: #FFA500;
$gray: #777;


$bg-orange-700: $orange-700;
$bg-orange-600: $orange-600;
$bg-orange: $orange;
$bg-white: $white;
$bg-black: $black;
$bg-blue-400: $blue-400;

$border-blue: $blue;
$border-orange-700: $orange-700;

$clr-white: $white;
$clr-gray: $gray;
$clr-blue-400: $blue-400;
$clr-orange-700: $orange-700;